@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  color: #2e2e2e;
}

/* 
  colors 
    #7AA874 #7C9070 #9CA777
  fonts
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f3f3ec;
}

.box {
  border-radius: 12px;
  min-height: 80px;
  background: #fff;
  box-shadow: rgba(122, 168, 116, 0.3) 0px 2px 8px 0px;
  overflow: hidden;
}
.box.spacing {
  padding: 16px 20px;
}
.ibg {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient {
  background-image: linear-gradient(
    45deg,
    hsl(113deg 23% 56%) 0%,
    hsl(138deg 28% 54%) 28%,
    hsl(154deg 35% 50%) 41%,
    hsl(166deg 53% 44%) 49%,
    hsl(175deg 100% 34%) 54%,
    hsl(180deg 100% 34%) 58%,
    hsl(185deg 100% 38%) 62%,
    hsl(190deg 100% 41%) 66%,
    hsl(193deg 100% 43%) 71%,
    hsl(197deg 100% 46%) 76%,
    hsl(199deg 100% 48%) 82%,
    hsl(202deg 100% 49%) 90%,
    hsl(211deg 100% 62%) 100%
  );
}

.apexcharts-toolbar svg {
  fill: #fff !important;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
